#daisywheel-js {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;

    opacity: 0;
    visibility: hidden;

    font-family: "Montserrat", sans-serif;

    -webkit-transition: opacity 200ms linear;
}

#daisywheel-js, #daisywheel-js * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}



/*  Modal  */

#daisywheel-js #daisywheel-modal-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(29, 48, 62, 0.7);
}

#daisywheel-js #daisywheel-modal-container {
    -webkit-transform: translate(50%);
}

#daisywheel-js #daisywheel-modal {
    position: relative;
    width: 736px;
    margin-left: -368px;
    margin-top: -170px;
}

/*  Input  */

#daisywheel-js #daisywheel-input-container {
    width: 640px;
    margin: 0 auto;
    padding-bottom: 50px;
    border-radius: 3px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

#daisywheel-js #daisywheel-input {
    display: block;
    height: 1em;
    width: 370px;
    margin: 0 auto;
    padding: 15px;

    resize: none;
    font-size: 22px;
    border-radius: 3px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
}



/*  Controls UI  */

#daisywheel-js #daisywheel-controls-ui {
    position: relative;
    width: 640px;
    text-align: center;
    border-radius: 3px;
    margin: 0 auto;
    padding-left: 60px;
    padding-top: 30px;
}

#daisywheel-js .control-ui {
    display: inline-block;
    padding: 10px 30px;
    width: 212px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#daisywheel-js .control-ui-icon {
    position: relative;
    display: block;
    float: left;
    width: 40px;
    height: 40px;
}

#daisywheel-js .control-ui-icon:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px 5px;
    background: #1d303e;
    border: 2px solid black;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#daisywheel-js .control-ui-label {
    display: block;
    height: 40px;
    line-height: 45px;
    margin-left: 12px;

    float: left;
    text-align: left;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 17px;
}

#daisywheel-js #daisywheel-left-bumper-ui .control-ui-icon:before {
    top: 5px;
    bottom: 2px;
    border-radius: 15px 2px 2px 2px;
    content: 'LB';
}

#daisywheel-js #daisywheel-right-bumper-ui .control-ui-icon:before {
    top: 5px;
    bottom: 2px;
    border-radius: 2px 15px 2px 2px;
    content: 'RB';
}

#daisywheel-js #daisywheel-left-trigger-ui .control-ui-icon:before {
    top: 5px;
    bottom: 2px;
    border-radius: 2px;
    content: 'LT';
}

#daisywheel-js #daisywheel-right-trigger-ui .control-ui-icon:before {
    top: 5px;
    bottom: 2px;
    border-radius: 2px;
    content: 'RT';
}

#daisywheel-js #daisywheel-left-analog-ui .control-ui-icon:before {
    top: 0;
    bottom: 0;
    line-height: 21px;
    border-radius: 50%;
    content: 'L';
}



/*  Flower  */

#daisywheel-js #flower-container {
}

#daisywheel-js #flower {
	position: relative;
	height: 640px;
	width: 640px;
	border-radius: 50%;
	border: 48px solid #15232d;
	background: #1d303e;
}

#daisywheel-js #flower:before {
	content: ' ';
	position: absolute;
	height: 368px;
	width: 368px;
	left: 144px;
	top: 144px;
	border-radius: 50%;
	background-color: #223846;
}

#daisywheel-js .petal {
	position: absolute;
	height: 160px;
	width: 160px;
	background-color: #223846;
	border-radius: 0 50% 50% 50%;
}

#daisywheel-js .petal.selected {
	background-color: #3A596B;
}

#daisywheel-js .petal-inner {
	position: absolute;
	left: -8px;
	top: -8px;
	margin: 16px;
}

#daisywheel-js .buttons {
	height: 144px;
	width: 144px;
}

#daisywheel-js .button {
	position: absolute;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	color: white;
	font-size: 22px;
	line-height: 48px;
	font-weight: 500;
	text-align: center;
	text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

#daisywheel-js .selected .button {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#daisywheel-js .button-left {
	top: 48px;
	left: 8px;
}

#daisywheel-js .selected .button-left {
	background: #19417F;
}

#daisywheel-js .button-top {
	top: 8px;
	left: 48px;
}

#daisywheel-js .selected .button-top {
	background: #BD8F1A;
}

#daisywheel-js .button-right {
	top: 48px;
	left: 88px;
}

#daisywheel-js .selected .button-right {
	background: #A01B10;
}

#daisywheel-js .button-bottom {
	top: 88px;
	left: 48px;
}

#daisywheel-js .selected .button-bottom {
	background: #5E8D00;
}

/* clearfix rules */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}