/* Navigation */

#nav {
    position: relative;
    display: block;
    height: 80px;
    width: 100%;
    max-width: none;
    margin: 0;
    background: #333;
    border-bottom: 3px solid #000;
    font-weight: 600;
    z-index: 100;
    padding: 0 30px;
    line-height: 80px;
}

.nav-item {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#desktop-nav .nav-item {
    display: block;
    margin: 0px 30px;
    float: right;
    
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;
}

#desktop-nav .nav-item:hover, #desktop-nav .nav-item:active {
    color: #5ba4e5;
}

#desktop-nav .nav-item:last-child {
    margin: 0 30px 0 0;
}

#desktop-nav .nav-item:first-child {
    margin: 0 0 0 30px;
}

#mobile-nav {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    
   -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

#mobile-nav .nav-item {
    display: block;
    width: 100%;
    padding-left: 30px;
    background: #333;
    border-bottom: 1px solid #dddfe4;
    
    -webkit-transition: 200ms linear;
    -moz-transition: 200ms linear;
    -ms-transition: 200ms linear;
    -o-transition: 200ms linear;
    transition: 200ms linear;
}

#mobile-nav .nav-item:hover, #mobile-nav .nav-item:active {
    background: #5ba4e5;
    color: white;
}

#mobile-nav .nav-item:last-child {
    border-bottom: none;
}


.mobile-nav-toggle {
    position: absolute;
    left: -100px;
    right: 0;
    height: 40px;
    width: 40px;
    line-height: 0px;
    margin: 20px 30px;
    border: none;
    cursor: pointer;
    
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('imgs/menu-icon.svg');
    background-color: #333;
}

.mobile-nav-toggle:hover {
    opacity: 0.7;
}

#mobile-nav-open:focus {
    left: -100px;
}

#mobile-nav-open:focus ~ #mobile-nav-close {
    left: auto;
}

#mobile-nav-open:focus ~ #mobile-nav {
    opacity: 1;
    visibility: visible;
}

#logo {
    position: absolute;
    left: 30px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;

    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;
}

#logo:hover {
    opacity: 0.7;
    color: #5ba4e5;
}


@media only screen and (max-width:658px){
    #desktop-nav {
        display: none;
    }
    
    #mobile-nav-open {
        left: auto;
    }
}