body {
    margin: 0;
    font-family: helvetica,arial,sans-serif;
    color: #fff;
    background: #333;
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/*  Navigation  */

#nav {
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #000;
    padding: 0 22px;
    font-size: 14px;
}

#desktop-nav .nav-item:first-child {
    margin: 0 0 0 22px;
}

#logo {
    left: 22px;
}

#desktop-nav .nav-item {
    margin: 0 22px;
}

#mobile-nav {
    top: 55px;
}

#mobile-nav .nav-item {
    border-bottom: 1px solid black;
}

.mobile-nav-toggle {
    height: 22px;
    width: 22px;
    line-height: 0px;
    margin: 16px 22px;
}

/*  Banner  */

.banner {
    height: 444px;
    position: relative;
    overflow: hidden;
}

.banner:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    content: ' ';
    background: linear-gradient(to top, #000000 0%, #000000 31%, transparent 100%);
}

.banner-img {
	display: inline-block;
	text-align: center;
	min-width: 700px;
	width: 100%;
}

.banner-text-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    padding: 0 22px;
}

.banner-text {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
}

/*  Contaienr  */

.page-content {
    margin: 0 auto;
    text-align: center;
}

.page-section {
    position: relative;
    z-index: 0;
}

/*  Features  */

.features {
    margin-top: -33px;
}

.feature-container {
    display: inline-block;
    max-width: 300px;
    width: 100%;
    margin: 11px;
    padding: 11px;
    background: #333;
    border: 1px solid black;
}

.feature {
    position: relative;
    margin: 0 auto;
    background: #000;
    text-align: left;
    border: 1px solid black;
}

.feature-img {
    width: 100%;
    opacity: 0.9;
}

.feature-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 111px 11px 11px 11px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to top, #000000 0%, #000000 31%, transparent 100%);
}

/*  Dividing Image  */

.diving-img:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    content: ' ';

    background-image: url(imgs/pattern.png);
    background-color: rgba(0,0,0,0.5);
}